ion-item {
    background-color: #f5e7c1;
}

ion-chip {
    margin-top:0px;
    margin-bottom:10px;
    height:13px;

    border:1px solid rgb(39, 98, 207);
    font-size:10px;
    outline:True;
    border-radius: 3px;
    margin-left:0px;
    padding-left: 3px;
    padding-right: 3px;
}