<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="donations">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>donations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="commissions">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label>commissions</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
